html {
    /*min-height: 100%*/
}

aside {
    background-image: url("../images/Blue_Computing_Background2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    /*filter: brightness(50%);*/
    grid-area: as;
}

aside a {
    color: #fff;
}

aside img { 
    height: 30px;
    width: 30px;
}

body {
    background-color: #2f4f4f;
    display: grid;
    /*grid-auto-rows: minmax(max-content, auto);*/
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: min-content repeat(4, 1fr) min-content;
    grid-template-areas:
    "hd hd hd hd hd"
    "ar ar ar ar as"
    "ar ar ar ar as"
    "ar ar ar ar as"
    "ar ar ar ar as"
    "ft ft ft ft ft";
    min-height: 100vh;
    margin: 0;
    /*margin-bottom: 0;*/
}

footer {
    background-color: #008000;
    color: #fff;
    grid-area: ft;
}

header {
    grid-area: hd;
}

h1 {
    background-image: url("../images/Javascript_Code.jpeg");
    background-size: cover;
    color: #fff;
    font-size: 4em;
    margin: 0;
}

nav {
    background-color: #008000;
    margin: 0;
}

nav > a {
    color: #fff;
}

hr {
    /*grid-area: hr;*/
}

.page-content {
    background-color: #c0c0c0;
    grid-area: ar;
    padding: 1em;
}

.gallery {
    display: grid;
    grid-auto-rows: minmax(min-content, auto);
    grid-template-columns: repeat(3, 1fr);
}
