@import "page-layout.css";
@import "blog-cards.css";
@import "post-layout.css";

blockquote {
    background-color: #808080;
    padding: 1em;
}

em {
    text-decoration: underline;
}

figure {
    align-items: center;
    display: flex;
    flex-direction: column;
}

figcaption {
    font-style: italic;
    width: 200px;
    text-align: center;
}

h2,
h3,
h4 {
    text-decoration: underline;
}

img {
    height: 200px;
    width: 200px;
}

.bio-text-section > p {
    font: 12px, Times New Roman, serif;
}

.bio-top-section {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.separate-links {
    align-items: center;
    display: flex;
    flex-direction: column;
}
